@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap');

* {
    padding: 0;
    margin: 0;
    outline: none;
    border: none;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: #EFE9E5; /* Color de fondo para el modo día */
    color: #000000; /* Color del texto para el modo día */
}

img {
    max-width: 10%;
    height: auto;
    -ms-interpolation-mode: bicubic;
    display: inline-block;
    vertical-align: middle;
}

/* Paleta de colores */
.primary-bg {
    background-color: #EFE9E5; /* Fondo claro */
}

.secondary-bg {
    background-color: #4A5B6A; /* Fondo oscuro para el modo noche */
}

.primary-text {
    color: #333; /* Texto oscuro */
}

.secondary-text {
    color: #e6e6e6; /* Texto claro */
}

/* Botones */
.btn {
    background-color: #B4915D; /* Color de fondo de los botones */
    color: #fff; /* Color del texto de los botones */
    border-radius: 5px;
    padding: 1rem 2rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.btn:hover {
    background-color: #D36D4F; /* Color de fondo al pasar el ratón */
}

/* Header */
header {
    position: relative;
    padding-top: 2rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    gap: 2rem;
}

header .content h4 {
    margin-bottom: 1rem;
    color: #7D7D7D;
    font-size: 1rem;
    font-weight: 600;
}

header .content h1 {
    color: #4A4A4A;
    margin-bottom: 1rem;
    font-size: 3rem;
    font-weight: 700;
    line-height: 4rem;
}

header .content h1 span {
    color: #B4915D;
}

header .content p {
    margin-bottom: 2rem;
    color: #7D7D7D;
}

header .image {
    position: relative;
}

header .image::before {
    content: "o";
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    font-size: 38rem;
    font-weight: 400;
    line-height: 20rem;
    color: #D9B78F;
    opacity: 0.2;
    z-index: -100;
}

header .image img {
    max-width: 600px;
    margin: auto;
}

/* Estilos del visor de PDF */
#upload-container {
    text-align: center;
    margin-bottom: 2rem;
}

#upload-container h2 {
    color: #4A4A4A; /* Color del título */
    font-size: 1.5rem;
    margin-bottom: 1rem;
}

#upload-form input[type="file"] {
    margin-bottom: 1rem;
}

#pdf-container {
    text-align: center;
}

#pdf-container canvas {
    border: 1px solid #B4915D; /* Borde alrededor del canvas */
}

#navigation-controls {
    margin-top: 1rem;
    display: flex;
    justify-content: center;
    gap: 1rem;
}

#navigation-controls .btn {
    background-color: #B4915D; /* Color de fondo de los botones de navegación */
    color: #fff; /* Color del texto de los botones */
    padding: 0.5rem 1rem;
    border: none;
    font-size: 1rem;
}

#navigation-controls .btn:hover {
    background-color: #D36D4F; /* Color de fondo al pasar el ratón */
}

#navigation-controls span {
    display: flex;
    align-items: center;
    color: #4A4A4A; /* Color del texto de navegación */
    font-size: 1rem;
}

/* Menú de navegación */
nav {
    max-width: 1200px;
    margin: auto;
    padding: 2rem 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 2rem;
    background-color: #EFE9E5; /* Fondo claro */
}

.nav-logo h1 {
    margin: 0;
    color: #4A4A4A; /* Color del texto del logo */
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 3rem;
}

.link a {
    position: relative;
    padding-bottom: 0.75rem;
    color: #4A4A4A;
}

.link a::after {
    content: "";
    position: absolute;
    height: 2px;
    width: 0;
    bottom: 0;
    left: 0;
    background-color: #B4915D;
    transition: all 0.3s ease;
}

.link a:hover::after {
    width: 70%;
}

/* Submenú */
.menu-item {
    position: relative;
}

.submenu {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #B4915D;
    padding: 0;
    list-style: none;
    margin: 0;
    opacity: 0;
    visibility: hidden;
    transform: translateY(-10px);
    transition: opacity 0.3s ease, transform 0.3s ease, visibility 0.3s ease;
}

.menu-item:hover .submenu {
    display: block;
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
}

.submenu li {
    padding: 0;
}

.submenu .btn {
    padding: 0.5rem 1rem;
    background-color: #B4915D;
    width: 100%;
    text-align: left;
}

.submenu .btn a {
    color: #fff;
}

/* Estilos responsive */
@media (max-width: 900px) {
    .nav-links {
        display: none;
    }
    header {
        grid-template-columns: 1fr;
    }
    header .image {
        grid-area: 1/1/2/2;
    }
}

@media (max-width: 600px) {
    header .image::before {
        display: none;
    }
}
